:root{
    --cinza: #64636300;
}

*{
    margin-right: 0;
    margin-left: 0;  
}
nav{
    display: inline-block;
    
}
.img_logo{
    width: 200px;
    border-radius: 5px;
}
header{
    display: inline-flex;
    height: 100px;
    width: 210.5vh;
    background-color: rgb(3, 26, 41);
}
h1{
    margin-left: 2.5vh;
    margin-top: 25px;
    color: #ffff;
}

.parametros {
    display: flexbox;
    flex-direction: row;
    margin-left: 25vh;
    margin-top: 20vh;
}
.parametro1 {
    margin-left: 70px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.group-btn{
    font-size: 22px;
    padding: 10px 10px;
}
.caracter{
    display: flexbox;
    margin-top: 10vh;
    font-size: 20px;
}
.qtd-caracter{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace; 
}
.total-caracter{
    margin-left: 7vh;
    width: 400px;
}
